h1 HTML Games


h3 Dependencies

p You need node and gulp to run this project.


h3 Build Process

p To build the project run the following:
ul
  li npm install
  li npm install -g gulp


h3 Running the Project

p Run the project by typing `gulp` in your 

p The url of the app will be *http://localhost:3000*


h3 Documentation

ul 
  li Read about the [Build Process](docs/gulpfile.html) and all that you can do with the project's [gulpfile](https://github.com/paulrenenichols/html-games/blob/master/gulpfile.js)