doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/main.css')
    title= title
  body
    header
    main
      a(href="/games/bubble-shooter.html") Bubble Shooter!
    footer
    
    script(type='text/javascript'
           src='/js/index.js')
    