@import "partials/variables";

body {
  margin: 0;
}

#page {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 738px;
}

#top_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 70px;
  background-color: #369;
  color: #fff;
}

#board {
  position: absolute;
  left: 120px;
  top: 0;
  width: 760px;
  height: 620px;
}

#footer_bar {
  position: absolute;
  left: 0;
  top: 690px;
  width: 1000px;
  height: 48px;
  background-color: #369;
}

.bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/bubble_sprite_sheet.png");
}

.user_bubble {
  left: 360px;
  top: 470px;
}

.bubble_0
{
  background-position: 0 0;
}
.bubble_1
{
  background-position: 0 -50px;
}
.bubble_2
{
  background-position: 0 -100px;
}
.bubble_3
{
  background-position: 0 -150px;
}


.dialog {
  position: absolute;
  left: 300px;
  top: 110px;
  height: 460px;
  width: 320px;
  background-color: #369;
  border-radius: 30px;
  border: 2px solid #99f;
  padding: 20px 50px;
  color: #fff;
  text-align: center;
  display: none;

  h2 {
    font-size: 28px;
    color: #fff;
    margin: 20px 0 20px;
  }
}

.button_start_game {
  position: absolute;
  left: 100px;
  top: 360px;
  height: 60px;
  width: 200px;
  background-color: #f00;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid #f66;
  font-size: 28px;
  line-height: 60px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #f99;

  &:hover {
    background-color: #f33;
  }
}

#start_game {
  display: block;
}

#bubbles_remaining
{
  position: absolute;
  left: 479px;
  top: 520px;
  width: 50px;
  font-size: 26px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

